body {
    background: #141414;
}
h1 {
    color: #fefefe;
    text-align: center;
    margin-top: 90px;
    font-family: "Netflix Sans", "Helvetica", "Arial", "sans-serif";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
}
p {
    color: #6b6b6b;
    text-align: center;
    font-family: "Netflix Sans", "Helvetica", "Arial", "sans-serif";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.logo img{
    width: 90px;
    height: 25px;
    margin: 12px 45px;
}
.avatar {
    display: inline-block;
    margin: 10px;
}
.avatar img{
    width: 125px;
    height: 125px;
    border-style: solid;
}
.geral {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}
button {
    color: #ffffff;
    text-align: center;
    margin-top: 90px;
    font-family: "Netflix Sans", "Helvetica", "Arial", "sans-serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    border: 2px solid #ffffff;
    background: #141414;
    
}